@use "../../Theme/abstracts" as *;

.separator {
    display: flex;
    margin-right: 50px;
    .left {
        display: block;
        width: 1em;
        margin-right: .3em;
        @include themed {
            background: t("text1");
            &.inversed {
                background: t("text2");
            }
        }
    }
    .right {
        display: block;
        width: .3em;
        @include themed {
            background: t("text1");
            &.inversed {
                background: t("text2");
            }
        }
    }
}