@use "../../../../Theme/abstracts" as *;

.languages {
    position: relative;
    display: flex;
    margin-left: 50px;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -1.5rem;
        bottom: 0;
        height: 100%;
        width: 0.3rem;
        @include themed {
            border: solid t("secondary");
            border-width: 0 0.2rem 0 0.7rem;
        }
    }
}