@use "../../Theme/abstracts" as *;

.button {
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    &:not(&:first-child) {
        margin-top: 10px;
    }
    @include themed {
        color: t("primary");
        background: t("secondary");
    }
    &:hover, &.focusBtn, &.selectedBtn {
        .indicator {
            @include themed {
                background: t("secondary");
            }
        }
        .cursor {
            display: block;
        }
    }
    .cursor {
        user-select: none;
        transform: rotate(90deg);
        position: absolute;
        height: 40px;
        left: -50px;
        display: none;
    }
    .indicator {
        width: 15px;
        height: 15px;
        margin-right: .5em;
        margin-left: .3em;
        @include themed {
            background: t("primary");
        }
    }
    p {
        font-size: 1em;
        user-select: none;
    }
}