@import "../../Theme/theme";

.system {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
    @include themed {
        color: t('text1');
    }
    .menu {
        width: 30%;
        display: flex;
        overflow: hidden;
        .barWrapper {
            background: #D2CDB4;
            width: 100%;
            padding: 10px 0;
            padding-right: 10px;
            
        }
        .items {
            border-top: 2px solid #BAB5A1;
            border-bottom: 2px solid #BAB5A1;
            border-right: 2px solid #BAB5A1;
            padding: 10px 0;
            padding-right: 10px;
            height: 100%;
            box-sizing: border-box;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 5px;
                margin-right: 10px;
            }
            &::-webkit-scrollbar-thumb {
                @include themed {
                    background: t("text2");
                }
            }
        }
    }
}