@use "../../Theme/abstracts" as *;

.system {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    .menu {
        position: relative;
        flex-shrink: 0;
        width: 20%;
        display: flex;
        padding: 10px 0;
        padding-right: 10px;
        margin-left: 20px;
        @include themed {
            background: t("figure");
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.5rem;
            bottom: 0;
            height: 100%;
            width: 0.3rem;
            @include themed {
                border: solid t("secondary");
                border-width: 0 0.2rem 0 0.7rem;
            }
        }
        .items {
            padding: 10px 0;
            padding-right: 10px;
            width: 100%;
            box-sizing: border-box;
            overflow-y: auto;
            @include themed {
                border-top: 2px solid t("secondary");
                border-bottom: 2px solid t("secondary");
                border-right: 2px solid t("secondary");
            }
            &::-webkit-scrollbar {
                width: 5px;
                margin-right: 10px;
            }
            &::-webkit-scrollbar-thumb {
                @include themed {
                    background: t("primary");
                }
            }
        }
    }
    .zone2 {
        align-self: flex-end;
        margin-left: 50px;
    }
    .languages, .modes {
        display: none;
        position: relative;
        align-self: flex-start;
        flex-direction: column;
        width: 20%;
        padding-left: 20px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.5rem;
            bottom: 0;
            height: 100%;
            width: 0.3rem;
            @include themed {
                border: solid t("secondary");
                border-width: 0 0.2rem 0 0.7rem;
            }
        }
    }
}