@use "../../../../Theme/abstracts" as *;

.textPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    @include themed {
        color: t("primary");
        background: t("figure");
    }
    .content {
        padding: 10px;
        text-align: justify;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 5px;
            margin-right: 10px;
        }
        &::-webkit-scrollbar-thumb {
            @include themed {
                background: t("primary");
            }
        }
    }
}