@use '../../Theme/abstracts' as *;

.app {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include themed {
        background-color: t("background");
        background-image: t("background-image");
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0 max(4vw, 50px) max(100px, 2vh);
    box-sizing: border-box;
    @media screen and (max-width: 1200px) {
        background-size: cover;
    }
}

.title {
    font-size: var(--font-size-700);
    font-weight: 400;
    margin: 20px 0;
    text-transform: uppercase;
    @include themed {
        color: t('primary');
        text-shadow: .3rem .3rem 0 t('secondary');
    }
}