@import "../../Theme/theme";

.projects {
    display: flex;
    justify-content: space-between;
    @include themed {
        color: t('text1');
    }
    .zone1, .zone2 {
        width: 30%;
        display: flex;
        position: relative;
        height: fit-content;
        .menu {
            width: 100%;
        }
    }
    .zone2 {
        display: none;
        margin-left: 20px;
    }
}