@use "../../Theme/abstracts" as *;

.projects {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    @include themed {
        color: t('text1');
    }
    .menu {
        position: relative;
        width: 30%;
        height: fit-content;
        padding: 10px 20px;
        margin-left: 20px;
        box-sizing: border-box;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.5rem;
            bottom: 0;
            height: 100%;
            width: 0.3rem;
            @include themed {
                border: solid t("secondary");
                border-width: 0 0.2rem 0 0.7rem;
            }
        }
    }
    .zone2 {
        display: none;
        margin-left: 20px;
    }
}