@import "../../Theme/theme";

.navbar {
    position: relative;
    width: 100%;
    padding: 10px 0;
    display: flex;
    .items {
        display: flex;
        .item {
            text-decoration: none;
            user-select: none;
            margin: 0 20px;
            padding: .1em 1em;
            font-size: 1.5em;
            text-transform: uppercase;
            @include themed {
                background: t("text1");
                color: t("text2");
            }
            &:is(:link, :active, :visited).active {
                position: relative;
                @include themed {
                    background: t("text2");
                    color: t("text1");
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    @include themed {
                        background: t("text2");
                    }
                    height: 10px;
                    width: 100%;
                }
            }
        }
    }
}