@use "../../Theme/abstracts" as *;

.navbar {
    position: relative;
    width: 100%;
    padding: 10px 0;
    display: flex;
    .item {
        text-decoration: none;
        user-select: none;
        margin: 0 20px;
        padding: .1rem 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        @include themed {
            color: t("primary");
            background: t("secondary");
        }
        &:is(:link, :active, :visited).active {
            position: relative;
            @include themed {
                color: t("secondary");
                background: t("primary");
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                height: 10px;
                width: 100%;
                @include themed {
                    background: t("primary");
                }
            }
        }
    }
}