@use "../../Theme/abstracts" as *;

.contact {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    @include themed {
        color: t('primary');
    }
    .form {
        position: relative;
        width: 40%;
        height: fit-content;
        padding: 1rem;
        padding-top: 0.5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        @include themed {
            border: 1px solid t("secondary");
        }
        legend {
            padding: 0 .5rem;
        }
        & > p {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            label {
                margin: .5rem 0;
            }
            input, textarea {
                max-width: 1000px;
                max-height: 150px;
                padding: .5rem;
                font-size: 1rem;
                border: none;
                outline: none;
                letter-spacing: inherit;
                font-family: inherit;
                @include themed {
                    background: t("figure");
                }
            }
        }
    }
}