@import "../../../Theme/theme";

.scrollable {
    margin-left: 50px;
    width: 100%;
    background: #D2CDB4;
    overflow: hidden;
    @include themed {
        color: t("text2");
    }
    .title {
        font-size: 1em;
        padding: .3em .3em;
        font-weight: 400;
        display: flex;
        align-items: center;
        overflow: hidden;
        .indicator {
            width: 1em;
            height: 1em;
            margin-right: .5em;
            margin-left: .3em;
            @include themed {
                background: t("text1");
            }
        }
        @include themed {
            background: t("text2");
            color: t("text1");
        }
    }
    .scrollbarWrapper {
        height: 100%;
        padding: 0 5px;
    }
    .content {
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 100%;
        &::-webkit-scrollbar {
            width: 5px;
            margin-right: 10px;
        }
        &::-webkit-scrollbar-thumb {
            @include themed {
                background: t("text2");
            }
        }
    }
    .section {
        box-sizing: border-box;
        margin: 10px 0;
        padding-bottom: 10px;
        border-bottom: 2px solid #BAB5A1;
    }
}