@use "../../../Theme/abstracts" as *;

.mainInfo {
    width: 20%;
    height: 75%;
    display: flex;
    flex-direction: column;
    @include themed {
        color: t("primary");
        background: t("figure");
    }
    .title {
        font-size: 1rem;
        padding: 5px 1rem;
        font-weight: 400;
        @include themed {
            background: t("primary");
            color: t("secondary");
        }
    }
    .section {
        padding: 5px 1em;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        @include themed {
            border-bottom: 2px solid t("secondary");
        }
        .line {
            display: flex;
            justify-content: space-between;
        }
    }
    .lastSection {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 50px 0;
    }
}