@use "../../../Theme/abstracts" as *;

.mainInfo {
    flex-shrink: 0;
    width: max(20%, 220px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 700px) {
        width: 100%;
        margin-top: 20px;
    }
    @include themed {
        color: t("primary");
        background: t("figure");
    }
    .title {
        padding: 5px 1rem;
        font-weight: 400;
        font-size: var(--font-size-400);
        @include themed {
            background: t("primary");
            color: t("secondary");
        }
        @media screen and (max-width: 1330px) {
            font-size: var(--font-size-300);
        }
    }
    .section {
        padding: 5px 1em;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        @include themed {
            border-bottom: 2px solid t("secondary");
        }
        .line {
            display: flex;
            justify-content: space-between;
            p {
                font-size: var(--font-size-400);
                @media screen and (max-width: 1330px) {
                    font-size: var(--font-size-300);
                }
            }
        }
    }
    .lastSection {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: max(50px, 2vh) 0;
        @media screen and (max-width: 1330px) {
            p {
                font-size: var(--font-size-300);
            }
        }
    }
}