@use "../../Theme/abstracts" as *;

.footer {
    position: relative;
    margin-top: auto;
    padding: max(5px, 2vh) 0;
    @include themed {
        background: t("figure");
        box-shadow: 4px 4px 2px 0 t("figure-shadow");
    }
    @media screen and (max-width: 700px) {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 0.3rem;
        @include themed {
            border: solid t("primary");
            border-width: 0 0.2rem 0 0.7rem;
        }
    }
    p {
        margin-left: max(30px, 3vw);
        font-size: var(--font-size-400);
        @include themed {
            color: t("primary");
        }
    }
    .indicator {
        position: absolute;
        width: var(--font-size-300);
        height: var(--font-size-300);
        bottom: 5px;
        right: 5px;
        @include themed {
            background: t("primary");
        }
    }
}