@use "../../Theme/abstracts" as *;

.footer {
    position: relative;
    margin-top: auto;
    padding: 20px 0;
    @include themed {
        background: t("figure");
        box-shadow: 4px 4px 2px 0 t("figure-shadow");
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 0.3rem;
        @include themed {
            border: solid t("primary");
            border-width: 0 0.2rem 0 0.7rem;
        }
    }
    p {
        margin-left: 50px;
        @include themed {
            color: t("primary");
        }
    }
    .indicator {
        position: absolute;
        width: 1em;
        height: 1em;
        bottom: 5px;
        right: 5px;
        @include themed {
            background: t("primary");
        }
    }
}