@use "../../Theme/abstracts" as *;

.landing {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    @include themed {
        background-image: t("background-image");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }
    .fade {
        width: 100%;
        height: 100%;
    }
    .wallpaper {
        background-image: url("../../assets/Img/landing_wallpaper.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: blur(5px) brightness(70%);
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        h1 {
            position: relative;
            font-size: clamp(2rem, 1.4672rem + 4.1054vi, 7.5938rem);
            line-height: 1em;
            font-weight: 400;
            color: #D9D9D9;
            &::after {
                content: "";
                position: absolute;
                background-color: #D9D9D9;
                background: linear-gradient(90deg, rgba(217,217,217,0) 0%, rgba(217,217,217,1) 30%, rgba(217,217,217,1) 70%, rgba(217,217,217,0) 100%);
                width: 100%;
                height: clamp(.05rem, .05rem + .3vi, 1rem);
                bottom: 0;
                left: 0;
            }
        }
        p {
            position: relative;
            margin-inline: auto;
            width: fit-content;
            font-size: var(--font-size-600);
            color: #dcd8c0;
            text-shadow: 4px 4px 1px #9A9786;
            padding: 0 20px;
            animation: breathing-bar 4s infinite alternate ease-in-out;
            margin-top: 100px;
            &::after {
                content: "";
                position: absolute;
                background-color: #D2CDB4;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
            }
        }
    }
    i {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #D2CDB4;
        font-style: var(--font-size-200);
        font-weight: 500;
        margin-bottom: 20px;
    }
    .fadeout {
        animation: fadeout 2s forwards;
    }
}

@keyframes breathing-bar {
    to { padding: 0; }
}

@keyframes fadein {
    to { opacity: 0; }
}

@keyframes fadeout {
    to { opacity: 0; }
}