@import "../../Theme/theme";

.home {
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @include themed {
        color: t('text1');
    }
    h1 {
        font-size: 3em;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: 20px;
        @include themed {
            color: t('text2');
        }
        text-shadow: 5px 7px 0 #9D9989;
    }
    .main {
        width: 40%;
        display: flex;
        .content {
            & > p {
                letter-spacing: .1em;
                margin-bottom: 20px;
                @include themed {
                    color: t('text2');
                }
            }
        }
    }
}