@import "../../Theme/theme";

.home {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .main {
        width: 40%;
        display: flex;
        height: fit-content;
        .content {
            & > p {
                text-align: justify;
                margin-bottom: 20px;
                @include themed {
                    color: t('text2');
                }
            }
        }
    }
}