@use 'Theme/abstracts' as *;

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.inApp {
    @include themed {
        background-color: t("background");
        background-image: t("background-image");
    }
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0 50px 100px;
    box-sizing: border-box;
}

.title {
    font-size: 3rem;
    font-weight: 400;
    margin: 20px 0;
    text-transform: uppercase;
    @include themed {
        color: t('primary');
        text-shadow: .3rem .3rem 0 t('secondary');
    }
}